@charset "UTF-8";
/* CSS Document */


html {
	height: 100%;
}


body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	height: 100%;
	
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
	
	color: #333;
	font: 14px "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: #333;
	text-decoration: underline;
}



a:hover {
	color: #333;
	text-decoration: none;
	background-color: #d6dadd;
}
.imageLink:hover {
	background: none;
	background-color: none;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}




h1 {
	font: 22px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	padding-bottom: 0px;
	margin-bottom: 40px;
}
blockquote {
	padding: 0px;
	margin: 0px 0px 40px 0px;
	font: 19px Georgia, "Times New Roman", Times, serif;
	line-height: 24px;
	font-style: italic;
}

p {
	margin: 0px 0px 40px 0px;
	
}


#vert {
	width: 100%;
	height: 100%;
	min-height: 680px;
	display: table;
}

#header {
	padding-bottom: 40px;
	border-bottom: 1px solid #000;
	margin-top: -20px;
	margin-bottom: 60px;
	position: relative;
}

#noiseLayer {
	background-image: url(images/noise1.gif);
	background-repeat: repeat;
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity:0.05;
    filter:alpha(opacity=5); /* For IE8 and earlier */
	
}
#sharing {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 21px;
	opacity:0;
    filter:alpha(opacity=0); /* For IE8 and earlier */
}

.twitter {
	float: left;
	height: 21px;
	width: 105px;
	overflow: hidden;
}

.fb-like {
	float: left;
	height: 21px;
	width: 115px;
	overflow: hidden;
}

#subHead {
	padding-bottom: 40px;
	border-bottom: 1px solid #000;
	margin-bottom: 40px;
}

#left {
	width: 440px;
	float: left;
	margin-bottom: 40px;
	text-align: left;
}

#right {
	width: 440px;
	float: right;
	margin-bottom: 40px;
	text-align: left;
}

#donate {
	border-top: 1px dotted #999;
	text-align: center;
	padding: 20px;
}

#footer {
	clear: both;
	border-top: 1px solid #000;
	text-align: center;
	margin-bottom: 120px;
	padding: 40px;
}

#container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#layerA {
	min-width: 480px;
}

#content {
	margin: 0 auto;
	width: 920px;
	text-align: center;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}